#wrapper{
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}
#anime_test{
  height: 100px;
  width: 100px;
  background-color: #366cf4;
  position: relative;
  left: 50px;
  transition: 2.5s;
  border-radius: 1.5rem;
}
.push-btn{
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-align: middle;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #eb6100;
}